<p id="notice"><%= notice %></p>

<h1> <%= @patient.name %> </h1>
<%= link_to 'Add note', new_note_path %>
<hr />
<h3> Notes </h3>
<% if @patient.notes.length > 0 %>
  <% @patient.notes.map do |note| %>
    <p style="width: 400px; padding: 1rem;">
      Note by Dr. <%= note.doctor.name %>
      <br />
      <br />
      <%= note.content %>
    </p>
    <p style="font-size: 1rem; padding-left: 2rem;"><%= link_to 'Edit Note', edit_note_path(note) %></p>
  <% end %>

  <% else %>
  <h4> No notes yet </h4>
<% end %>

<hr />

<p>
  <%= link_to 'Edit Patient Info', edit_patient_path(@patient) %> |
  <%= link_to 'Back', patients_path %>
</p>
